[submodule "problem_generator/pddl-generators"]
	path = problem_generator/pddl-generators
	url = https://github.com/Ellipsim/pddl-generators.git
[submodule "nesig_teacher"]
	path = nesig_teacher
	url = https://github.com/ari-dasci/S-PlanningProblemGeneration.git
